# ETL Project
### ***NFL Draft***

In [1]:
# Imports libraries and requeriments
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

# Import username and password for load pourpuses
from secrets import username, password, database

# Extract

##### Extract the data from Wikipedia and  www.pro-football-reference.com. 
* Note: Since we are scraping data from tables we are using pandas otherwise we were going to need to use BeatifulSoup and Splinter

In [2]:
#url for draft and combine (2016-2020)

combine2020 = 'https://www.pro-football-reference.com/draft/2020-combine.htm#combine'
combine2019 = 'https://www.pro-football-reference.com/draft/2019-combine.htm'
combine2018 = 'https://www.pro-football-reference.com/draft/2018-combine.htm'
combine2017 = 'https://www.pro-football-reference.com/draft/2017-combine.htm'
combine2016 =  'https://www.pro-football-reference.com/draft/2016-combine.htm'
draft2020 = 'https://en.wikipedia.org/wiki/2020_NFL_Draft'
draft2019 = 'https://en.wikipedia.org/wiki/2019_NFL_Draft'
draft2018 = 'https://en.wikipedia.org/wiki/2018_NFL_Draft'
draft2017 = 'https://en.wikipedia.org/wiki/2017_NFL_Draft'
draft2016 = 'https://en.wikipedia.org/wiki/2016_NFL_Draft'

In [3]:
# Scrap url's using pandas
combine_2020 = pd.read_html(combine2020)
combine_2019 = pd.read_html(combine2019)
combine_2018 = pd.read_html(combine2018)
combine_2017 = pd.read_html(combine2017)
combine_2016 = pd.read_html(combine2016)
draft_2020 = pd.read_html(draft2020)
draft_2019 = pd.read_html(draft2019)
draft_2018 = pd.read_html(draft2018)
draft_2017 = pd.read_html(draft2017)
draft_2016 = pd.read_html(draft2016)

In [4]:
# Check type and lenght of the tables
print(type(combine_2020))
print(len(combine_2020))
print(type(draft_2020))
print(len(draft_2020))

<class 'list'>
1
<class 'list'>
13

In [5]:
# Extract the table needed to get the dataframes
combinedf2020 = combine_2020[0]
combinedf2019 = combine_2019[0]
combinedf2018 = combine_2018[0]
combinedf2017 = combine_2017[0]
combinedf2016 = combine_2016[0]
draftdf2020 = draft_2020[4]
draftdf2019 = draft_2019[4]
draftdf2018 = draft_2018[4]
draftdf2017 = draft_2017[4]
draftdf2016 = draft_2016[4]

# Transform

In [6]:
# Add the year 
draftdf2020['year']='2020'
draftdf2019['year']='2019'
draftdf2018['year']='2018'
draftdf2017['year']='2017'
draftdf2016['year']='2016'
combinedf2020['year']='2020'
combinedf2019['year']='2019'
combinedf2018['year']='2018'
combinedf2017['year']='2017'
combinedf2016['year']='2016'
draftdf2016

,Unnamed: 0,Rnd.,Pick #,NFL team,Player,Pos.,College,Conf.,Notes,year
0,NaN,1,1.0,Los Angeles Rams,Jared Goff †,QB,California,Pac-12,from Tennessee [R1 - 1],2016
1,NaN,1,2.0,Philadelphia Eagles,Carson Wentz †,QB,North Dakota State,MVFC,from Cleveland [R1 - 2],2016
2,NaN,1,3.0,San Diego Chargers,Joey Bosa †,DE,Ohio State,Big Ten,NaN,2016
3,NaN,1,4.0,Dallas Cowboys,Ezekiel Elliott †,RB,Ohio State,Big Ten,NaN,2016
4,NaN,1,5.0,Jacksonville Jaguars,Jalen Ramsey †,CB,Florida State,ACC,NaN,2016
...,...,...,...,...,...,...,...,...,...,...
252,NaN,7,249.0,San Francisco 49ers,Prince Charles Iworah,CB,Western Kentucky,C-USA,from Kansas City [R7 - 11],2016
253,NaN,7,250.0,Cleveland Browns,Scooby Wright,LB,Arizona,Pac-12,from New England via Miami [R7 - 12],2016
254,NaN,7,251.0,Philadelphia Eagles,Joe Walker,LB,Oregon,Pac-12,from Arizona [R7 - 13],2016
255,NaN,7,252.0,Carolina Panthers,Beau Sandland,TE,Montana State,Big Sky,NaN,2016
256,NaN,7,253.0,Tennessee Titans,Kalan Reed,CB,Southern Miss,C-USA,from Denver [R7 - 14]Mr. Irrelevant,2016

In [7]:
# Append combine dataframes
combine_df = combinedf2020.append(combinedf2019,ignore_index=True,verify_integrity=True)
combine_df = combine_df.append(combinedf2018,ignore_index=True,verify_integrity=True)
combine_df = combine_df.append(combinedf2017,ignore_index=True,verify_integrity=True)
combine_df = combine_df.append(combinedf2016,ignore_index=True,verify_integrity=True)

#combine_df = combine_df.drop(columns = {'Pos'})
combine_df

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),year
0,Trey Adams,OL,Washington,College Stats,6-8,318,5.60,24.5,NaN,92,NaN,NaN,NaN,2020
1,Hakeem Adeniji,OL,Kansas,College Stats,6-4,302,5.17,34.0,26,115,NaN,NaN,Cincinnati Bengals / 6th / 180th pick / 2020,2020
2,McTelvin Agim,DL,Arkansas,College Stats,6-3,309,4.98,NaN,27,NaN,NaN,NaN,Denver Broncos / 3rd / 95th pick / 2020,2020
3,Salvon Ahmed,RB,Washington,College Stats,5-11,197,4.62,34.5,NaN,120,NaN,NaN,NaN,2020
4,Brandon Aiyuk,WR,Arizona State,College Stats,6-0,205,4.50,40.0,11,128,NaN,NaN,San Francisco 49ers / 1st / 25th pick / 2020,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,Daryl Worley,CB,West Virginia,College Stats,6-1,204,4.64,35.5,14,123,6.98,4.15,Carolina Panthers / 3rd / 77th pick / 2016,2016
1695,Connor Wujciak,DT,Boston Col.,College Stats,6-2,291,4.91,34.5,22,117,7.32,4.27,NaN,2016
1696,Tavon Young,CB,Temple,College Stats,5-9,183,4.46,34.5,9,118,6.80,3.93,Baltimore Ravens / 4th / 104th pick / 2016,2016
1697,Avery Young,OT,Auburn,College Stats,6-5,328,5.39,NaN,NaN,NaN,8.22,4.91,NaN,2016
1698,Anthony Zettel,DT,Penn State,College Stats,6-4,277,4.81,30.5,28,109,7.63,4.39,Detroit Lions / 6th / 202nd pick / 2016,2016

In [8]:
# Append draft dataframes
draft_df = draftdf2020.append(draftdf2019,ignore_index=True,verify_integrity=True)
draft_df = draft_df.append(draftdf2018,ignore_index=True,verify_integrity=True)
draft_df = draft_df.append(draftdf2017,ignore_index=True,verify_integrity=True)
draft_df = draft_df.append(draftdf2016,ignore_index=True,verify_integrity=True)

#draft_df = draft_df.drop(columns = ['Pos'])
draft_df

,Unnamed: 0,Rnd.,Pick #,NFL team,Player,Pos.,College,Conf.,Notes,year
0,NaN,1,1.0,Cincinnati Bengals,Joe Burrow,QB,LSU,SEC,2019 Heisman Trophy winner,2020
1,NaN,1,2.0,Washington Redskins,Chase Young †,DE,Ohio State,Big Ten,Bronko Nagurski Trophy and Chuck Bednarik Awar...,2020
2,NaN,1,3.0,Detroit Lions,Jeff Okudah,CB,Ohio State,Big Ten,NaN,2020
3,NaN,1,4.0,New York Giants,Andrew Thomas,OT,Georgia,SEC,NaN,2020
4,NaN,1,5.0,Miami Dolphins,Tua Tagovailoa,QB,Alabama,SEC,2018 Maxwell Award and Walter Camp Award winner,2020
...,...,...,...,...,...,...,...,...,...,...
1277,NaN,7,249.0,San Francisco 49ers,Prince Charles Iworah,CB,Western Kentucky,C-USA,from Kansas City [R7 - 11],2016
1278,NaN,7,250.0,Cleveland Browns,Scooby Wright,LB,Arizona,Pac-12,from New England via Miami [R7 - 12],2016
1279,NaN,7,251.0,Philadelphia Eagles,Joe Walker,LB,Oregon,Pac-12,from Arizona [R7 - 13],2016
1280,NaN,7,252.0,Carolina Panthers,Beau Sandland,TE,Montana State,Big Sky,NaN,2016
1281,NaN,7,253.0,Tennessee Titans,Kalan Reed,CB,Southern Miss,C-USA,from Denver [R7 - 14]Mr. Irrelevant,2016

#### Clean dataframes

In [9]:
# Drop columns we are not using and rename for cleaning pourpuses and storage
draft_df = draft_df.drop(columns = ['Notes', 'Unnamed: 0', 'NFL team'])
draft_df = draft_df.rename(columns = {"Pos.": "Pos", "College": "School", "Conf.": "Conf", "Rnd.": "Rnd","Player":"player", 
                                      'Pick #': 'Pick_no'})
combine_df = combine_df.drop(columns = ['Drafted (tm/rnd/yr)', 'College'])
combine_df = combine_df.rename(columns = {'Player': 'player'})

combine_df

,player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,year
0,Trey Adams,OL,Washington,6-8,318,5.60,24.5,NaN,92,NaN,NaN,2020
1,Hakeem Adeniji,OL,Kansas,6-4,302,5.17,34.0,26,115,NaN,NaN,2020
2,McTelvin Agim,DL,Arkansas,6-3,309,4.98,NaN,27,NaN,NaN,NaN,2020
3,Salvon Ahmed,RB,Washington,5-11,197,4.62,34.5,NaN,120,NaN,NaN,2020
4,Brandon Aiyuk,WR,Arizona State,6-0,205,4.50,40.0,11,128,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
1694,Daryl Worley,CB,West Virginia,6-1,204,4.64,35.5,14,123,6.98,4.15,2016
1695,Connor Wujciak,DT,Boston Col.,6-2,291,4.91,34.5,22,117,7.32,4.27,2016
1696,Tavon Young,CB,Temple,5-9,183,4.46,34.5,9,118,6.80,3.93,2016
1697,Avery Young,OT,Auburn,6-5,328,5.39,NaN,NaN,NaN,8.22,4.91,2016
1698,Anthony Zettel,DT,Penn State,6-4,277,4.81,30.5,28,109,7.63,4.39,2016

#### Create players dataframes for database

In [10]:
# Create combine player dataframe
#### Note: After a lot of problems with the duplicates, I checked and keeping the position and year in this dataframe 
#### seems the best option. 
player = combine_df['player']
school = combine_df['School']
pos = combine_df['Pos']
year = combine_df['year']
combine_player_df = {"player":player,
                    "pos":pos, 
                    "school":school,
                    "year":year}
combine_player_df = pd.DataFrame(combine_player_df)
combine_player_df

              player pos         school  year
0         Trey Adams  OL     Washington  2020
1     Hakeem Adeniji  OL         Kansas  2020
2      McTelvin Agim  DL       Arkansas  2020
3       Salvon Ahmed  RB     Washington  2020
4      Brandon Aiyuk  WR  Arizona State  2020
...              ...  ..            ...   ...
1694    Daryl Worley  CB  West Virginia  2016
1695  Connor Wujciak  DT    Boston Col.  2016
1696     Tavon Young  CB         Temple  2016
1697     Avery Young  OT         Auburn  2016
1698  Anthony Zettel  DT     Penn State  2016

[1699 rows x 4 columns]

In [11]:
# Create draft player dataframe
player = draft_df['player']
school = draft_df['School']
pos = draft_df['Pos']
year = draft_df['year']
draft_player_df = {"player":player,
                  "pos":pos,
                  "school":school,
                  "year":year}
draft_player_df = pd.DataFrame(draft_player_df)
draft_player_df

                     player pos            school  year
0                Joe Burrow  QB               LSU  2020
1             Chase Young †  DE        Ohio State  2020
2               Jeff Okudah  CB        Ohio State  2020
3             Andrew Thomas  OT           Georgia  2020
4            Tua Tagovailoa  QB           Alabama  2020
...                     ...  ..               ...   ...
1277  Prince Charles Iworah  CB  Western Kentucky  2016
1278          Scooby Wright  LB           Arizona  2016
1279             Joe Walker  LB            Oregon  2016
1280          Beau Sandland  TE     Montana State  2016
1281             Kalan Reed  CB     Southern Miss  2016

[1282 rows x 4 columns]

In [12]:
# Append both players dataframes
#### Note: Set ignore index so the index show the total players, the others two arguments could or could be not set.
#### We can also use concat, but concat doesn't have ignore index argument. 
players_df = draft_player_df.append(combine_player_df, ignore_index=True, verify_integrity=True, sort=True)
players_df

              player pos         school  year
0         Joe Burrow  QB            LSU  2020
1      Chase Young †  DE     Ohio State  2020
2        Jeff Okudah  CB     Ohio State  2020
3      Andrew Thomas  OT        Georgia  2020
4     Tua Tagovailoa  QB        Alabama  2020
...              ...  ..            ...   ...
2976    Daryl Worley  CB  West Virginia  2016
2977  Connor Wujciak  DT    Boston Col.  2016
2978     Tavon Young  CB         Temple  2016
2979     Avery Young  OT         Auburn  2016
2980  Anthony Zettel  DT     Penn State  2016

[2981 rows x 4 columns]

In [13]:
# Drop the duplicates in players_df.
##### Note: set subset='player' so is going to drop the duplicates in the players column, that way we can keep position
##### for analysis pourposes. After this, we should have 2008 unique players

players_df = players_df.drop_duplicates(subset='player', keep='first', ignore_index=True)
players_df

                player pos             school  year
0           Joe Burrow  QB                LSU  2020
1        Chase Young †  DE         Ohio State  2020
2          Jeff Okudah  CB         Ohio State  2020
3        Andrew Thomas  OT            Georgia  2020
4       Tua Tagovailoa  QB            Alabama  2020
...                ...  ..                ...   ...
2003  De'Runnya Wilson  WR  Mississippi State  2016
2004      Josh Woodrum  QB            Liberty  2016
2005     Antwaun Woods  NT                USC  2016
2006    Connor Wujciak  DT        Boston Col.  2016
2007       Avery Young  OT             Auburn  2016

[2008 rows x 4 columns]

In [14]:
# Check the dataframe to see if there are still duplicates
print(players_df.loc[players_df['player']== 'Anthony Zettel'])
print(players_df.nunique(axis = 0, dropna=False))

              player pos      school  year
1226  Anthony Zettel  DE  Penn State  2016
player    2008
pos         40
school     240
year         5
dtype: int64

# Load

In [15]:
# Check for the import from secrets.py
database

'nfl_draft'

In [16]:
# Connect to local database
# Pior: Create a python file called secrets in your local repo with username, password and database name.

# from secrets import user, password, database
rds_connection_string = f'{username}:{password}@localhost:5432/{database}'
engine = create_engine(f'postgresql+psycopg2://{rds_connection_string}')

In [17]:
# Check the tables names to make sure where are we posting
engine.table_names()

['player', 'combine', 'draft']

In [18]:
#check tables keys
combine_table=engine.execute('SELECT * FROM combine')
players_table=engine.execute('SELECT * FROM player')
draft_table=engine.execute('SELECT * FROM draft')
print(combine_table.keys())
print(players_table.keys())
print(draft_table.keys())

['Ht', 'Wt', '40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle', 'player_id']
['id', 'player', 'pos', 'school', 'year']
['Rnd', 'Pick_no', 'Conf', 'player_id']

In [19]:
# Append data using pandas. name stands for table name, change it if neccesary.
players_df.to_sql(name='player', con=engine, if_exists='append', index=False)

In [20]:
#Confirm the data has been appended. Check table name. Create a dataframe to get player_id to the other dataframes
player_id_df=pd.read_sql_query('select * from player', con=engine)
player_id_df

        id            player pos             school  year
0        1        Joe Burrow  QB                LSU  2020
1        2     Chase Young †  DE         Ohio State  2020
2        3       Jeff Okudah  CB         Ohio State  2020
3        4     Andrew Thomas  OT            Georgia  2020
4        5    Tua Tagovailoa  QB            Alabama  2020
...    ...               ...  ..                ...   ...
2003  2004  De'Runnya Wilson  WR  Mississippi State  2016
2004  2005      Josh Woodrum  QB            Liberty  2016
2005  2006     Antwaun Woods  NT                USC  2016
2006  2007    Connor Wujciak  DT        Boston Col.  2016
2007  2008       Avery Young  OT             Auburn  2016

[2008 rows x 5 columns]

In [21]:
# merge with combine dataframe to get the serial id.
combine_df_final = pd.merge(combine_df, player_id_df, how='inner', on='player')
combine_df_final

,player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,year_x,id,pos,school,year_y
0,Trey Adams,OL,Washington,6-8,318,5.60,24.5,NaN,92,NaN,NaN,2020,1279,OL,Washington,2020
1,Hakeem Adeniji,OL,Kansas,6-4,302,5.17,34.0,26,115,NaN,NaN,2020,181,OT,Kansas,2020
2,McTelvin Agim,DL,Arkansas,6-3,309,4.98,NaN,27,NaN,NaN,NaN,2020,95,DT,Arkansas,2020
3,Salvon Ahmed,RB,Washington,5-11,197,4.62,34.5,NaN,120,NaN,NaN,2020,1280,RB,Washington,2020
4,Brandon Aiyuk,WR,Arizona State,6-0,205,4.50,40.0,11,128,NaN,NaN,2020,25,WR,Arizona State,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,Daryl Worley,CB,West Virginia,6-1,204,4.64,35.5,14,123,6.98,4.15,2016,1100,CB,West Virginia,2016
1695,Connor Wujciak,DT,Boston Col.,6-2,291,4.91,34.5,22,117,7.32,4.27,2016,2007,DT,Boston Col.,2016
1696,Tavon Young,CB,Temple,5-9,183,4.46,34.5,9,118,6.80,3.93,2016,1128,CB,Temple,2016
1697,Avery Young,OT,Auburn,6-5,328,5.39,NaN,NaN,NaN,8.22,4.91,2016,2008,OT,Auburn,2016
1698,Anthony Zettel,DT,Penn State,6-4,277,4.81,30.5,28,109,7.63,4.39,2016,1227,DE,Penn State,2016

In [22]:
# Clean the combine df final by dropping columns we don't need and renaming id

combine_df_final = combine_df_final.drop(columns = ['school', 'School','player', 'year_y', 'pos', 'Pos', 'year_x'])
combine_df_final = combine_df_final.rename(columns = {'id':'player_id'})

# Convert types to fit in the database
#### we are using to numeric for floats and convert_dtypes method for string
#### Height needs to be string because is in 6 feet 1 inch format. others are float
combine_df_final['Ht'] = combine_df_final['Ht'].convert_dtypes(infer_objects=True, convert_string=True)
combine_df_final['Wt'] = pd.to_numeric(combine_df_final['Wt'], errors='coerce')
combine_df_final['40yd'] = pd.to_numeric(combine_df_final['40yd'], errors='coerce')
combine_df_final['Bench'] = pd.to_numeric(combine_df_final['Bench'], errors='coerce')
combine_df_final['Vertical'] = pd.to_numeric(combine_df_final['Vertical'], errors='coerce')
combine_df_final['Broad Jump'] = pd.to_numeric(combine_df_final['Broad Jump'], errors='coerce')
combine_df_final['3Cone'] = pd.to_numeric(combine_df_final['3Cone'], errors='coerce')
combine_df_final['Shuttle'] = pd.to_numeric(combine_df_final['Shuttle'], errors='coerce')
# Get the info of the dataframe
combine_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1699 entries, 0 to 1698
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ht          1699 non-null   string
 1   Wt          1669 non-null   float64
 2   40yd        1400 non-null   float64
 3   Vertical    1320 non-null   float64
 4   Bench       1209 non-null   float64
 5   Broad Jump  1295 non-null   float64
 6   3Cone       951 non-null    float64
 7   Shuttle     995 non-null    float64
 8   player_id   1699 non-null   int64
dtypes: float64(7), int64(1), string(1)
memory usage: 132.7 KB

In [23]:
# merge with draft dataframe to get the serial id.
draft_df_final = pd.merge(draft_df, player_id_df, how='inner', on='player')
draft_df_final

,Rnd,Pick_no,player,Pos,School,Conf,year_x,id,pos,school,year_y
0,1,1.0,Joe Burrow,QB,LSU,SEC,2020,1,QB,LSU,2020
1,1,2.0,Chase Young †,DE,Ohio State,Big Ten,2020,2,DE,Ohio State,2020
2,1,3.0,Jeff Okudah,CB,Ohio State,Big Ten,2020,3,CB,Ohio State,2020
3,1,4.0,Andrew Thomas,OT,Georgia,SEC,2020,4,OT,Georgia,2020
4,1,5.0,Tua Tagovailoa,QB,Alabama,SEC,2020,5,QB,Alabama,2020
...,...,...,...,...,...,...,...,...,...,...,...
1277,7,249.0,Prince Charles Iworah,CB,Western Kentucky,C-USA,2016,1274,CB,Western Kentucky,2016
1278,7,250.0,Scooby Wright,LB,Arizona,Pac-12,2016,1275,LB,Arizona,2016
1279,7,251.0,Joe Walker,LB,Oregon,Pac-12,2016,1276,LB,Oregon,2016
1280,7,252.0,Beau Sandland,TE,Montana State,Big Sky,2016,1277,TE,Montana State,2016
1281,7,253.0,Kalan Reed,CB,Southern Miss,C-USA,2016,1278,CB,Southern Miss,2016

In [24]:
# Clean the draft df final by dropping columns we don't need and renaming id

draft_df_final = draft_df_final.drop(columns = ['school','School','player', 'year_y', 'pos', 'Pos', 'year_x'])
draft_df_final = draft_df_final.rename(columns = {'id':'player_id'})

# # Convert types to fit in the database
### Rnd coulb be either a string or a float because we are not supossed to do any math operation with it. 
draft_df_final['Rnd'] = pd.to_numeric(draft_df_final['Rnd'], errors='coerce')
draft_df_final['Pick_no'] = draft_df_final['Pick_no'].convert_dtypes(infer_objects=True, convert_integer=True)
draft_df_final['Conf'] = draft_df_final['Conf'].convert_dtypes(infer_objects=True, convert_string=True)


draft_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1282 entries, 0 to 1281
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rnd        1121 non-null   float64
 1   Pick_no    1271 non-null   Int64
 2   Conf       1280 non-null   string
 3   player_id  1282 non-null   int64
dtypes: Int64(1), float64(1), int64(1), string(1)
memory usage: 51.3 KB

In [25]:
# Load data using pandas. name stands for table name, change it if neccesary.
combine_df_final.to_sql(name='combine', con=engine, if_exists='append', index=False)

In [26]:
# Load data using pandas. name stands for table name, change it if neccesary.
draft_df_final.to_sql(name='draft', con=engine, if_exists='append', index=False)

In [27]:
# Check for the database table
combine_id_df=pd.read_sql_query('select * from combine', con=engine)
combine_id_df

,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,player_id
0,6-8,318.0,5.60,24.5,NaN,92.0,NaN,NaN,1279
1,6-4,302.0,5.17,34.0,26.0,115.0,NaN,NaN,181
2,6-3,309.0,4.98,NaN,27.0,NaN,NaN,NaN,95
3,5-11,197.0,4.62,34.5,NaN,120.0,NaN,NaN,1280
4,6-0,205.0,4.50,40.0,11.0,128.0,NaN,NaN,25
...,...,...,...,...,...,...,...,...,...
1694,6-1,204.0,4.64,35.5,14.0,123.0,6.98,4.15,1100
1695,6-2,291.0,4.91,34.5,22.0,117.0,7.32,4.27,2007
1696,5-9,183.0,4.46,34.5,9.0,118.0,6.80,3.93,1128
1697,6-5,328.0,5.39,NaN,NaN,NaN,8.22,4.91,2008
1698,6-4,277.0,4.81,30.5,28.0,109.0,7.63,4.39,1227

In [28]:
# Check for the database table
draft_id_df=pd.read_sql_query('select * from draft', con=engine)
draft_id_df

      Rnd  Pick_no     Conf  player_id
0     1.0      1.0      SEC          1
1     1.0      2.0  Big Ten          2
2     1.0      3.0  Big Ten          3
3     1.0      4.0      SEC          4
4     1.0      5.0      SEC          5
...   ...      ...      ...        ...
1277  7.0    249.0    C-USA       1274
1278  7.0    250.0   Pac-12       1275
1279  7.0    251.0   Pac-12       1276
1280  7.0    252.0  Big Sky       1277
1281  7.0    253.0    C-USA       1278

[1282 rows x 4 columns]

In [ ]:
# Database ready to work